# --- MikroC Specific ---
# Compiled project binary files
*.mcl
*.asm
*.hex
*.lst
*.brk
*.dct
*.dlt
*.ini
*.txt
*.log
*.bmk

# Project and Workspace state files
*.cfg
*.user.set
*.dbg
*.dcp
*.mcpav_user
*.mcpic_user

# --- General Build Artifacts ---
*.o
*.obj
*.elf
*.p1
*.map
*.hex
*.coff

# --- Debug and Temp Files ---
*.d
*.su
*.tmp
*.err
*.pjt
*.mcpav_err
*.mcpic_err

# --- OS / IDE Specific ---
.DS_Store
Thumbs.db
*.bak


*.cpbuild/
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub/
.idea/
*.iml
